<form class="container">
  <input type="number" name="latitude" [(ngModel)]="latitude" class="input-form" placeholder="Enter Latitude"><br>
  <input type="number" name="longitude" [(ngModel)]="longitude" class="input-form" placeholder="Enter Longitude"><br>
  <input type="number" name="depth" [(ngModel)]="depth" class="input-form" placeholder="Enter Depth"><br>
  <input type="text" name="date" [(ngModel)]="date" class="input-form" placeholder="Enter Date"><br>
  <input type="submit" value="Predit" class="btn" (click)="predict()">
  <div class="result" *ngIf="result">{{result}}</div>
</form>